body {
    background-image: url(vignette.png);
    text-align: center;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#clock{
    text-align: center;
    font-size: 70px;
    color: blue;
    font-weight:  bolder;
}

.alarm{
    display:none;
    margin:10px 0px 0px 0px;
}

.alarm a{
    text-decoration:none;
    padding:5px 10px 5px 10px;
    color:#FFF;
    background-color:#026729;
    border-radius:5px;
}

.alarm a:hover{
    text-decoration:none;
    padding:4px 9px 4px 9px;
    color:#fefefe;
    background-color:#026729;
    border-radius:5px;
}

#set{
    text-decoration:none;
    padding:5px 10px 5px 10px;
    color:#FFF;
    background-color:#F3A829;
    border-radius:5px;
}

#set:hover{
    text-decoration:none;
    padding:4px 9px 4px 9px;
    color:#fefefe;
    background-color:#F3A829;
    border-radius:5px;
}
